<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxLinesNumber</key>
	<string>10</string>
	<key>httpGetRequest</key>
	<string>https://www.googleapis.com/customsearch/v1?key=</string>
	<key>searchEngine</key>
	<string>012395726208297425069:_np83nffj40</string>
	<key>APIkey</key>
	<string>AIzaSyBsnPhX_EwlimkglxKpjJe99lHBydcHuDs</string>
</dict>
</plist>
